@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: hsl(220 10% 10%);
  color: hsl(220 20% 80%);
  font-family: Spline Sans;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(220 10% 25% / 0.5);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 2rem;

  @media (max-width: 425px) {
    padding: 0.75rem;
  }

  // zoom: 2.75;
}

// .loading {
// }

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(40rem, 100%);
  align-self: center;

  .post {
    background-color: hsl(220 10% 15%);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    scroll-margin-top: 1rem;

    cursor: pointer;
    transition: background-color 0.25s ease;
    &:hover {
      background-color: hsl(220 10% 17.5%);
    }

    .numbers_info,
    .meta_info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5ch;
      @media (max-width: 425px) {
        font-size: 0.75rem;
      }
    }

    .meta_info {
      .by_author,
      .in_subreddit {
        display: flex;
        align-items: center;
        gap: 0.5ch;
      }

      .text {
        color: hsl(220 10% 60%);
      }

      .hint,
      .author,
      .subreddit {
        color: hsl(220 20% 90%);
        background-color: hsl(220 10% 20%);
        padding: 0.25rem;
        border-radius: 0.125rem;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 0.25rem;
        }
      }
    }

    .title {
      color: hsl(220 20% 100%);
      font-size: 1.25rem;
      line-height: 1.5;

      @media (max-width: 425px) {
        font-size: 1rem;
      }
    }

    .image {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
      text-align: center;
      background-size: cover;
      background-position: center center;

      isolation: isolate;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: brightness(0.75) blur(7.5px);
        z-index: -1;
      }

      img {
        max-width: 100%;
        max-height: 60vh;
      }
    }

    .video {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
      text-align: center;
      background-size: cover;
      background-position: center center;

      isolation: isolate;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: brightness(0.75) blur(7.5px);
        z-index: -1;
      }

      video {
        max-width: 100%;
        max-height: 60vh;
      }
    }

    .link {
      line-height: 1.5;
      color: hsl(220 40% 60%);
      text-decoration: none;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;

      :hover {
        text-decoration: underline;
      }
    }

    .numbers_info {
      gap: 1.5ch;
      // width: 100%;
      // justify-content: space-around;
      align-self: flex-end;

      & > * {
        display: flex;
        align-items: center;
        gap: 0.5ch;

        svg {
          width: 1.125rem;
          height: 1.125rem;
          color: hsl(220 20% 90%);
          @media (max-width: 425px) {
            width: 0.75rem;
            height: 0.75rem;
          }
        }
      }
    }
  }

  .button {
    align-self: center;
    padding: 0.75rem 1rem;
    line-height: 1;
    border-radius: 0.5rem;
    border: 2px solid currentColor;

    cursor: pointer;
    transition: 0.25s ease;
    &:hover {
      background-color: hsl(220 10% 15%);
    }
  }
}

.posts {
  counter-reset: count;

  .post {
    position: relative;

    &:first-of-type:before {
      counter-set: count;
    }

    &:before {
      color: hsl(220 20% 60%);
      font-family: spline sans mono;
      content: counter(count);
      position: absolute;
      right: 1rem;
      counter-increment: count;
      padding: 0.25rem;
    }
  }
}
